{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block content %}

<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading">{{ object.title }}</h4>
  <p align="right">{{ object.modify_dt|date:"j F Y" }}</p>
  <hr>
  <p class="mb-0">{{ object.content|linebreaks }}</p>
</div>


    <p align="centera">
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" title="View previous post">
            <i class="fas fa-arrow-circle-left"></i> {{ object.get_next }}
        </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        {% if object.get_previous %}
         <a href="{{ object.get_previous.get_absolute_url }}" title="View next post">
        {{ object.get_previous }} <i class="fas fa-arrow-circle-right"></i>
        </a>
        {% endif %}
    </p>

    <div></div>
    <br>

    <div>

    </div>
{% endblock %}

