{% extends "base.html" %}

{% block title %}logged_out.html{% endblock %}

{% block main %}
<main class="page-section portfolio" style="margin-top:50px">
    <div class="col-lg-10 mx-auto">
        <h1>Logged out</h1>
        <br>

        <div>
            <i class="fas fa-quote-left"></i>
            <span class="h6">&ensp;Thanks for spending your quality time with this web site today.&ensp;</span>
            <i class="fas fa-quote-right"></i>
        </div>

        <p class="font-italic"><a href="{% url 'login' %}">Log in again</a></p>
    </div>
</main>
{% endblock %}

